# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/customerservices/node_modules

/googleservices/node_modules

/homeservices/node_modules

/paymentservices/node_modules


/reportservices/node_modules

/settingservices/node_modules

/subscriptionservices/node_modules

/userservices/node_modules

/voucherservices/node_modules


#FIRE STORE
/customerservices/dev-hds-gworkspace-firebase-adminsdk-6ke7i-aab97fb726.json

/googleservices/dev-hds-gworkspace-firebase-adminsdk-6ke7i-aab97fb726.json


/homeservices/dev-hds-gworkspace-firebase-adminsdk-6ke7i-aab97fb726.json


/notificationservices/dev-hds-gworkspace-firebase-adminsdk-6ke7i-aab97fb726.json



/paymentservices/dev-hds-gworkspace-firebase-adminsdk-6ke7i-aab97fb726.json


/reportservices/dev-hds-gworkspace-firebase-adminsdk-6ke7i-aab97fb726.json


/settingservices/dev-hds-gworkspace-firebase-adminsdk-6ke7i-aab97fb726.json


/subscriptionservices/dev-hds-gworkspace-firebase-adminsdk-6ke7i-aab97fb726.json

/userservices/dev-hds-gworkspace-firebase-adminsdk-6ke7i-aab97fb726.json

/voucherservices/dev-hds-gworkspace-firebase-adminsdk-6ke7i-aab97fb726.json

/customerservices/dev-hds-gworkspace-firebase-adminsdk-6ke7i-aab97fb726.json

/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*/node_modules

/node_modules
*.env

/reseller_customer_backend/customerservices/node_modules
/reseller_customer_backend/adminservices




